* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.wrapper {
    margin: 0 auto;
}

/* ----------------------
Nav Styles
---------------------- */

.navbar {
    background: transparent;
    border: none;
}

.navbar-toggle {
    border: none;
    margin-top: 14px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
    height: 3px;
    width: 28px;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    background-color: white;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form a {
    text-align: center;
}

/* ----------------------
Container Styles
---------------------- */

.load-animation {
    display: none;
}

.load-animation-arrow {
    display: none;
}

.parallax-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(https://images.unsplash.com/photo-1514933651103-005eec06c04b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80);
    background-size: cover;
    background-position: center;
    height: 100%;
    padding: 0;
    position: fixed;
    width: 100%;
}

.parallax-1 img {
    filter: invert(100%);
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header-img-banner {
    background-color: rgba(0, 0, 0, 0.8);
    height: 220px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

/* .parallax-1 h1 {
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    font-family: serif;
    font-size: 4em;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
} */

#header-arrow {
    filter: invert(100%);
    position: absolute;
    left: 50%;
    opacity: 0.7;
    top: 60%;
    transform: translate(-50%, 30%);
    width: 100px;
}

.parallax-1 h2 {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translateX(-50%);
}

.parallax-2 {
    background: #000;
    /* min-height: 100vh; */
    margin-top: 100vh;
    padding: 0;
    position: absolute;
    width: 100%;
}

.parallax-2 .wrapper img:last-of-type {
    width: 100%;
}

.parallax-2 h2 {
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.container {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    width: 100%;
}

.parallax-2 .wrapper p {
    color: #fff;
    font-size: 1.5em;
    line-height: 34px;
    margin: 10px auto 35px;
    width: 80%;
}

.parallax-2 .wrapper img {
    display: block;
    /* filter: invert(100%); */
    margin: 0 auto;
    width: 90%;
}

hr,
.footer-content p {
    margin-bottom: 5px;
}

hr {
    border-color: rgba(255, 255, 255, 0.3);
}

.footer-content {
    color: #fff;
    margin-left: 12px;
    text-align: center;
}

/* ----------------------
Media Queries
---------------------- */

@media (min-width: 768px) {
    .wrapper {
        width: 70%;
    }

    /* ----------------------
    Nav Styles
    ---------------------- */

    .navbar-default .navbar-nav li a {
        color: #fff;
        font-size: 1.2em;
    }

    .navbar-default .navbar-nav > li > a {
        margin: 5px;
        padding: 10px;
    }

    .navbar-default .navbar-nav > li > a:hover {
        background-color: rgba(255, 255, 255, 0.2) !important;
        color: #fff;
        transition: 0.3s;
    }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        background-color: transparent;
    }

    /* ----------------------
Container Styles
---------------------- */

    #header-arrow {
        left: 50%;
        top: 50%;
        transform: translate(-50%, 40%);
    }

    .parallax-2 .wrapper p {
        font-size: 2em;
        line-height: 45px;
    }
}
